.news-side-arrow {
  align-self: center;
}

.news-content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 3% 3% 2% 3%;
  color: #fff;
  font-size: 1rem;
}

.news-button-center {
  display: flex;
}

@media only screen and (max-width: 900px) {
  .news-side-content {
    display: none;
  }
}

@media only screen and (min-width: 901px) {
  .news-container {
    display: flex;
    flex-flow: column;
  }

  .news-body {
    display: flex;
  }

  .news-side-content {
    display: flex;
  }

  .news-wrapper {
    display: flex;
    flex-flow: column;
    flex: 1;
  }

  .news-content {
    padding: 8% 8% 5% 8%;
  }
}
